
<html>
<body>


	<table>
		<thead>
			<tr>
				<th>Title </th>
				<th> Body </th>

			</thead>
			<h1>Books</h1>

			<tbody>

				<% @blogs.each do |blog| %>

				<tr>
					<td><%= blog.title %></td>
					<td><%= blog.body %></td>
					<td><%= link_to "show",blog_path(blog),class:"show_#{blog.id}"%></td>
					<td><%= link_to "edit" ,edit_blog_path(blog),class:"edit_#{blog.id}"%></td>
					<td><%= link_to "destory",blog_path(blog),class:"destory_#{blog.id}", method: :delete,data: { confirm: "You sure?" } %></td>
				</tr>
				<% end %>

			</tbody>
		</table>


		<h1>NEW BOOK</h1>
		<%= form_for(@blog) do |f| %>

		<h4>Title</h4>
		<%= f.text_field :title, class:"book_title" %>

		<h4>Body</h4>
		<%= f.text_area :body, class:"book_body" %>
		<%= f.submit 'Create Book' %>
		<% if flash[:id] %>
		<p><%= flash[:id] %></p>
		<% end %>
		<% end %>
	</body>
	</html>