<p><%= flash[:id] %></p>
<p>title:<%= @blog.title %></p>
<p>body:<%= @blog.body %></p>
<%= link_to "edit",edit_blog_path(@blog),class:"edit_#{@blog.id}" %>
<%= link_to "back", blogs_path,class:"back" %>